.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}

img {
  max-width: 200px;
  height: auto;
  min-height: 200px;
  border-radius: 14px;
}

.description {
  padding: 20px;
  position: relative;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

p {
  font-size: 1rem;
  margin: 0;
}
.best{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(111, 217, 241);
  color: rgb(181, 12, 113);
  margin: 10px;
  padding: 3px 14px;
  border-radius: 12px;
  font-size: 14px;
}